[user]
	name = Michael A. Johnson
	email = johnson.michael.andrew@gmail.com
[pull]
	ff = true
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[include]
	path = .gitconfig-confidential