[user]
	name = Michael A. Johnson
	email = johnson.michael.andrew@gmail.com
[core]
	editor = vim
[pull]
	ff = true
[push]
	default = simple
[alias]
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish=![[ $(git config branch.$(git symbolic-ref --short HEAD).merge) = '' ]] && git push -u origin $(git symbolic-ref --short HEAD) || git push
    unpublish = "!git push origin :$(git branch-name)"
    delete-merged = "!git co $1 && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
    a = add
    b = branch
	c = commit
    d = diff
	co = checkout
    l = log -n 5
    pu = publish
    pl = pull
    r = reset
	s = status
[include]
	path = .gitconfig-confidential
